<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemController</servlet-name>
        <servlet-class>AddItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogueController</servlet-name>
        <servlet-class>CatalogueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToBasket</servlet-name>
        <servlet-class>AddToBasket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromBasket</servlet-name>
        <servlet-class>RemoveFromBasket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemController</servlet-name>
        <url-pattern>/AddItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogueController</servlet-name>
        <url-pattern>/CatalogueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToBasket</servlet-name>
        <url-pattern>/AddToBasket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromBasket</servlet-name>
        <url-pattern>/RemoveFromBasket</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
