<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>Controllers.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controllers.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemController</servlet-name>
        <servlet-class>Controllers.AddItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogueController</servlet-name>
        <servlet-class>Controllers.CatalogueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToBasket</servlet-name>
        <servlet-class>Controllers.AddToBasket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromBasket</servlet-name>
        <servlet-class>Controllers.RemoveFromBasket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemController</servlet-name>
        <servlet-class>Controllers.DeleteItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmationController</servlet-name>
        <servlet-class>Controllers.ConfirmationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderCompleteController</servlet-name>
        <servlet-class>Controllers.OrderCompleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemController</servlet-name>
        <url-pattern>/AddItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogueController</servlet-name>
        <url-pattern>/CatalogueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToBasket</servlet-name>
        <url-pattern>/AddToBasket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromBasket</servlet-name>
        <url-pattern>/RemoveFromBasket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemController</servlet-name>
        <url-pattern>/DeleteItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmationController</servlet-name>
        <url-pattern>/ConfirmationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderCompleteController</servlet-name>
        <url-pattern>/OrderCompleteController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
